@import "tailwindcss";
@plugin "daisyui" {
   themes: dracula --default, dark --prefersabyss, light , synthwave, nord, caramellate, aqua ;
 }

.menu li a.active {
  background-color: hsl(var(--p));
  color: red;
  font-weight: 600;
}

